body {
	margin: 0;
	background-image: url("../img/fondo.png");
	background-position: center;

	/* -- CENTRAR EL BLOQUE CONTENEDOR -- */
	display: flex;
	justify-content: center; 
}

#contenedor {
	width: 90%;
	max-width: 960px;
	background: rgba(255, 255, 255, 0.90);
	padding: 1.5em;
	margin: 2em 0;
	border-radius: 0.9em;
	border: 0.2em solid #073040;
}

/* -- COLUMNAS -- */

#cajaGrande {
	display: flex;
	gap: 1.5em;
}

/* -- MISMO TAMAÑO -- */

#cajaGrande section {
	flex: 1;
}

/* -- COLUMNAS -- */

#cajaDiferente {
	display: flex;
	gap: 1.5em;
}

/* -- DIFERENTE TAMAÑO -- */

.chica {
	flex: 1;
}

.grande {
	flex: 2;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0.5em auto;
}

header{
	background:#0b6fa4;
	color:white;
	padding:2em;
	text-align:center;
	border-radius:10px 10px 0 0;
}

h1, h2, h3 {
	background-color: cyan;
	border: 0.1em solid darkblue;
	font-family: "Arvo", serif;
	text-align: center;
	padding: 0.4em;
	border-radius: 0.5em;
}

/* -- TIPOGRAFÍA TAMBIÉN A LOS DESTACADOS -- */

strong, em {
	font-family: "Arvo", serif;
	font-size: 0.8em;
}


/* --- DEJO EL MENÚ HORIZONTAL Y DEFINO EL COMPORTAMIENTO DE LOS LINKS --- */

nav {
	text-align: center;
	margin-bottom: 1.8em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: 0.3em;
}

nav a {
	background-color: lightblue;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 0.2em solid darkblue;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	background-color: #c47c2e;
}

a:link {
	color: darkblue;
}

a:visited {
	color: black;
}

a:hover {
	color: cyan;
}

a:active {
	color: yellow;
}

footer {
	background-color: #c47c2e;
	text-align: center;
	padding: 0.1em;
	border: 0.1em solid darkblue;
	border-radius: 0.5em;
}

/* -- DATO CURIOSO -- */

.dato-curioso {
	background-color: #dff7ff;
	border: 0.15em solid darkblue;
	border-radius: 0.6em;
	padding: 1em;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}

.dato-curioso p {
	min-height: 4.5em;
}

.dato-curioso button {
	padding: 0.6em 1em;
	background-color: lightblue;
	border: 0.15em solid darkblue;
	border-radius: 0.5em;
	font-weight: bold;
	cursor: pointer;
}

.dato-curioso button:hover {
	background-color: #c47c2e;
	color: white;
}

/* ---------------- GALERÍA ---------------- */

#galeria{
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	gap:1.5em;
}

#galeria article{
	background:white;
	border:0.15em solid darkblue;
	border-radius:0.5em;
	padding:1em;
	text-align:center;
	min-width:150px;  /*MODIFICAR TAMAÑOS, MÁXIMOS. VER OPCIONES */
}

.obraGrande{
	flex:2;
}

.obraChica{
	flex:1;
}

/* ------------ EJERCICIO ------------------- */

form{
	background:#dff1fb;
	padding:1.5em;
	border:0.2em solid #0b6fa4;
}

fieldset{
	margin-bottom:1.5em;
	padding:1em;
	border:0.15em solid #0b6fa4;
	background:white;
}

legend{
	background:#0b6fa4;
	color:white;
	padding:0.3em 0.8em;
	font-weight:bold;
}

label{
	display:block;
	margin-top:1em;
	font-weight:bold;
}

input{
	width:100%;
	padding:0.6em;
	margin-top:0.3em;
	margin-bottom:0.8em;
	border:0.1em solid #0b6fa4;
	border-radius:4px;
}

button{
	background:#0b6fa4;
	color:white;
	padding:0.7em 1.2em;
	border:none;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	margin-right:0.5em;
	margin-top:0.8em;
}

button:hover{
	background:#1591d0;
}

/* Botones deshabilitados */

button:disabled{
	background:#999;
	cursor:default;
} 

#resultado{
	margin-top:2em;
	padding:1em;
	background:#eef9ff;
	border:0.15em solid #0b6fa4;
	font-weight:bold;
	line-height:1.7;
}